<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<script type="module" src="{{ url_for('static', filename='dashboard.js') }}"></script>
</head>
<body>
	<form id="new-filter" action="{{ url_for('add_filter_rule') }}">
		<input type="text" name="filter_text" placeholder="egg sandwich" required>
		<button>Add filter</button>
	</form>
	<button id="filter-front-page" data-href="{{ url_for('run_filters') }}">Filter front page</button>
	{% if filter_rules is not none %}
	<ul id='filters' data-href="{{ url_for('add_filter_rule') }}">
		{% include "filter_rule.html.j2" %}
	</ul>
	{% endif %}
</body>
</html>
