<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Access Required</title>
</head>
<body>
	<h1>Welcome!</h1>
	<a href="{{ url_for('prompt_user_authorization') }}">Reddit Authorization</a>
	{% if accounts is not none %}
	<nav>
		<h2>Accounts</h2>
		<ul>
			{% for account in accounts %}
			<li>
				<a href="{{ url_for('switch_user', oauth_token_id=account.oauth_token_id) }}">{{ account.username }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
	{% endif %}
</body>
</html>
